* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    width: 143px;
    height: 35px;
}
body {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    
}
.conteiner{
    width: 1440px;
    margin: auto;
}
.menu{
    display: flex;
    gap: 40px;
    list-style-type:none ;
    
}
.menu a{
    color: rgb(87, 35, 35);
    text-decoration: none;
    font-weight: 400;
    font-size: 17;
    font-family: sans-serif;
    
    }

header {
    padding: 40px 50px 10px 50px;
    background-color: #e1ede6;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a:hover{
    color: #681499;
}