@font-face {
   font-family: "MyFont";
   src: url(./static/Montserrat-Bold.ttf);
}

body {
   color: rebeccapurple;
   font-family: MyFont;
}
.hello0 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.hello1{
 font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.hello2{
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.hello3{
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.hello4{
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.hello5{
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

