
 body{
    font-family: sans-serif;
    background-color: #fdfdf9;
    padding: 20px;
    width: 1180px;
    height: 1786px;
    margin: auto;;
 }
 .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 582px 582px ;
    gap: 20px;
}
.card{
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 582px;
    display: flex;
    
}
.card img{
    width: 380px;
    height: 245px;
    border: none;
   
}
.card h1{
    font-family: Montserrat;
    width: 247px;
    height: 35px;
    margin: 0;
    font-size: 24px;
    line-height: 143%;
    font-weight: 700;
    margin-left: 44px;
    margin-top: 50px;
}
.card p{
    font-size: 16px;
    color: #666;
    line-height: 150%;
    margin-left: 44px;
    width: 240px ;
    height: 48px;
    display: block;
    
}
.price{
    font-weight: bold; 
    font-size: 24px;
    margin-left: 44px;
}
button{
    padding: 10px;
    background-color: #FED84C;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 163px;
    height: 68px;
    margin-left: 44px;
    margin-bottom: 50px;
    margin-top: 24px;
    font-size: 18px;
    line-height: 152%;
    font-weight: 500;
}

